# Creación de la base en Athena

In [11]:
# Importar librerías
import os
import pandas as pd
import numpy as np

In [2]:
# Abres un cliente de S3
import boto3
session = boto3.Session(profile_name='datascientist')

In [3]:
glue = boto3.client('glue', region_name='us-east-1')

In [4]:
response = glue.create_database(
    DatabaseInput={
        'Name': 'consultaDenuelogs',
        'Description': 'Base de datos que contiene los logs de la aplicación de Consulta tu Negocio',
    }
)
response

{'ResponseMetadata': {'RequestId': 'a86cecad-0a2d-45d9-9383-885234349a27',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Mon, 22 May 2023 04:38:49 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '2',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'a86cecad-0a2d-45d9-9383-885234349a27'},
  'RetryAttempts': 0}}

In [5]:
import awswrangler as wr

In [6]:
query = """CREATE EXTERNAL TABLE IF NOT EXISTS consultaDenuelogs.daily_logs_consulta (
        `giro` string,
        `size` string,
        `lugar` string,
        `correo` string,
        `telefono` string,
        `timestamp` string
        )
        ROW FORMAT SERDE 'org.openx.data.jsonserde.JsonSerDe'
        WITH SERDEPROPERTIES (
        'serialization.format' = '1',
        'case.insensitive'='false',
        'mapping.name'='name',
        'mapping.giro'='giro',
        'mapping.size'='size',
        'mapping.lugar'='lugar',
        'mapping.telefono'='telefono',
        'mapping.timestamp'='timestamp'
        ) LOCATION 's3://denue-logs-consulta/'
        TBLPROPERTIES ('has_encrypted_data'='false')
        """

In [7]:
wr.athena.read_sql_query(query, database="consultaDenuelogs", ctas_approach=False)

Empty DataFrame
Columns: []
Index: []

In [8]:
query = '''SELECT * FROM consultaDenuelogs.daily_logs_consulta'''

In [9]:
data = wr.athena.read_sql_query(
    query, 
    database="consultaDenuelogs", 
    ctas_approach=False
)

In [12]:
data

,giro,size,lugar,correo,telefono,timestamp
0,comida,0 a 5 personas,avenida,edad,33361,22/05/2023 02:03:27
1,5,2,<NA>,edadlogo48@gmai.com,3336613017,22/05/2023 01:17:06
2,comida,11 a 30 personas,avenida,edadlogo48@gmail.com,12312312,22/05/2023 03:33:21
3,comida,0 a 5 personas,avenida,edad,33361,22/05/2023 02:03:25
4,fgdfgd,0 a 5 personas,erwe,rtert,23423,22/05/2023 03:10:02
5,yuiyu,0 a 5 personas,uyiyu,yuiyu,345,22/05/2023 03:12:22
6,qweq,0 a 5 personas,qwe,rwerwe,sdfsd,22/05/2023 03:04:29